<div class="ticket-letter">
  <div class="ticket-letter-header clearfix">
    {% if logo %}
      <div class="logo">
        <div>
          <img src="{{ logo }}" width="65" height="65">
        </div>
      </div>
    {% endif %}
    {% if company_address or company_registration %}
    <div class="address">
      <div>
        <p>{{ company_address }}</p>
        <p>{{ company_registration }}</p>
      </div>
    </div>
    {% endif %}
    <div class="headline">
      <div>
        <p style="text-align: center;"><strong>PLEASE BRING THIS DOCUMENT WITH YOU</strong></p></div>
    </div>
  </div>
  <div class="ticket-letter-top clearfix">
    <span class="name">Name: {{ name }}</span><br>
    {% if contact_id %}
      <span class="contacts-id">Contact ID: {{ contact_id }}</span><br>
    {% endif %}
    <span class="booking-ref">Booking Ref: {{ booking_reference }}</span><br>
    <span class="ticket-id">Ticket ID: {{ ticket_id }}</span><br>
    <span class="ticket-class">Ticket Class: {{ ticket_class }}</span>
    {% if team %}
      <br><span class="ticket-team"><strong>This is a Team ticket for: {{ team }}</strong></span>
    {% endif %}

    {% if show_address %}
      <div class="commerce-order-shipping-address">
        {{ address }}
      </div>
    {% endif %}
    {% if segments %}
      {{ segments }}
    {% endif %}
  </div>
  <div class="ticket-letter-body clearfix">
    <h3 style="text-align:center;">{{ event_name }}<br>{{ event_date }}</h3>
    <div class="letter-text">
      {{ letter_text }}
    </div>
  </div>
  {% if show_badge %}
    <div class="ticket-letter-ticket">
      <div class="pane-panels-mini pane-ticket-badge-summer pane-ticket-badge ticket-badge-summer-node-3449">
        <h2 class="pane-title">
          &lt;-- This is your conference name badge </h2>


        <div>
          <div class="panel-2col-stacked clearfix panel-display" id="mini-panel-ticket_badge_summer">
            <div class="panel-col-top panel-panel">
              <div class="inside">
                <div class="pane-ce-printing-ticket-badge-event">


                  <div>
                    <div class="title">{{ event_name }}</div>
                  </div>


                </div>
                <div
                  class="pane-entity-field pane-commerce-booking-ticket-ce-printing-ticket-holder-name commerce-booking-ticket-holder-name">


                  <div>
                    <div class="field field-name-ce-printing-ticket-holder-name field-type-name field-label-hidden">
                      <div class="field-items">
                        <div class="field-item even">{{ name }}</div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="pane-6 commerce-booking-ticket-reg-no">
                  <div>
                    <p><span>{{ booking_reference }}</span></p>
                  </div>
                </div>
                <div class="commerce-booking-ticket-team">
                  <div>
                    {{ team }}
                  </div>
                </div>

                <div class="pane-7 pane-ticket-class">
                  <div>
                    {{ ticket_class }}
                  </div>
                </div>
              </div>
            </div>

            <div class="center-wrapper">
              <div class="panel-col-first panel-panel">
                <div class="inside">
                  <div class="pane-ce-printing-barcode barcode">
                    {{ barcode | raw }}
                  </div>
                  <div class="pane-5">
                    <p>{{ ticket_id }}</p>
                  </div>
                </div>
              </div>
              <div class="panel-col-last panel-panel">
                <div class="inside">
                  <div class="field field-name-contacts-indiv-photo field-type-image field-label-hidden">
                    {% if badge_image %}
                      <img src="{{ badge_image }}">
                    {% endif %}
                  </div>
                  <div class="panel-pane pane-ticket-logo logo">
                    {% if badge_logo %}
                      <img src="{{ badge_logo }}" width="145" height="auto">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  {% endif %}
</div>
