[v-cloak] {
  display: none;
}

#village-allocation-container {
  font-style: normal;
  line-height: 1.538em;
  font-size: 81.3%;
}

#village-allocation-container h2 {
  font-size: 1.385em;
}

#village-allocation-container h3 {
  font-size: 1.231em;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: opacity .3s ease;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 450px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  max-height: 400px;
  overflow: auto;
}

.modal-default-button {
  float: right;
}

.village {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding-left: 10px;
  padding-bottom: 10px;
}
.village + .village {
  /* So we don't get double borders. Hide top border when there's a village above. */
  border-top: 0;
}
.village h3 {
  margin: 0;
  padding: 10px 0 10px 0;
}
/* When drag-droping bookings in a village, indicate the village fill status with bg color */
.drop-active.near {
  background-color: #f9c700;
}
.drop-active.full {
  background-color: #d40000;
}

.village-group {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.village-group + .village-group {
  /* So we don't get double borders. Hide top border when there's a group above. */
  border-top: none;
}

.group-bookings {
  padding: 10px;
}

.booking {
  padding: 0 5px 0 5px;
  cursor: grab;
}

.booking:active {
  cursor: grabbing;
}

.drop-active {
  border: 2px dashed #000;
}

.paid-in-full-warning {
  font-weight: bold;
  color: red;
}

#facets-container {
  margin-right: 20px;
  width: 300px;
}

.facet {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.facet + .facet {
  border-top: 0;
}
.facet h3 {
  margin: 0;
  padding: 10px;
}
.facet ul {
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
}
.facet li {
  margin-bottom: 2px;
}
.facet-count {
  background-color: #5bc0de;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  float: right;
  color: #fff;
  margin-right: 10px;
}
.facet:not(.group-name-search) a {
  display: block;
  padding-left: 20px;
  text-decoration: none;
}
.facet:not(.group-name-search) a:hover {
  background-color: #e0e0e0;
}
.facet-active a {
  background-color: #5bc0de;
}
.facet-active .facet-count {
  background-color: #e0e0e0;
  color: black;
}
.facet select {
  margin-left: 10px;
  margin-bottom: 10px;
}

.group-name-search {
  padding: 10px;
}

.group-name-search button {
  margin: 0;
  padding: 4px 10px;
}

.bookings-header h2 {
  display: inline;
}

#bookings-container h3 {
  padding: 10px 10px 0 10px;
  margin: 0;
}

.full {
  color: #d40000;
}

.near {
  color: #f9c700;
}

.booking-pitches {
  float: right;
}

#bookings-container {
  margin-right: 20px;
  flex: 1;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

#villages-container {
  flex: 1;
  max-width: 400px;
  overflow-y: auto;
}

.stripe {
  background-color: #e0e0e0;
}

.special-requirements {
  float: right;
  margin-right: 5px;
}

.linked {
  text-indent: -999em;
  display: inline-block;
  margin: 0 0.25em;
  width: 16px;
  height: 16px;
  background: url(/modules/contrib/contacts_events/modules/village_allocation/images/link.png) no-repeat;
}

.requirements {
  text-indent: -999em;
  display: inline-block;
  margin: 0 0.25em;
  width: 20px;
  height: 20px;
  background: url(/modules/contrib/contacts_events/modules/village_allocation/images/spec-needs.png) no-repeat 0px 20px;
}

/* Left column */


.requirements-ramps {
  background-position: 0px 0px;
}


.requirements-wheelchair {
  background-position: 0px 0px;
}

.requirements-toilets {
  background-position: 0px -20px;
}

.requirements-close {
  background-position: 0px -40px;
}

.requirements-path {
  background-position: 0px -60px;
}

.requirements-disabled-toilets {
  background-position: 0px -80px;
}

.requirements-blue-badge {
  background-position: 0px -100px;
}

.requirements-concrete {
  background-position: 0px -120px;
}

.requirements-ourplace {
  background-position: 0px -140px;
}

/* Middle column */
.requirements-electric-hookup {
  background-position: -20px 0px;
}

.requirements-room {
  background-position: -20px -20px;
}

.requirements-cabin {
  background-position: -20px -20px;
}

.requirements-village-host {
  background-position: -20px -60px;
}

.requirements-team {
  background-position: -20px -80px;
}

.requirements-flat {
  background-position: -20px -100px;
}

/* Right column */
.requirements-ground-toilet {
  background-position: -40px 0px;
}

.requirements-medical {
  background-position: -40px -20px;
}

.requirements-village {
  background-position: -40px -40px;
}

.requirements-two-weeks {
  background-position: -40px -60px;
}

.requirements-far {
  background-position: -40px -80px;
}

.requirements-kids {
  background-position: -40px -100px;
}

.requirements-luminosity {
  background-position: -40px -120px;
}
