.team-application-progress {
  text-align: center;
  padding: 0;
}

.team-application-progress .active {
  font-weight: bold;
}

.team-application-progress li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid black;
}

.team-application-progress li:last-of-type {
  border-right: none;
}
