/** Hide website bits we don't want **/
@font-face {
  font-family: "DejaVuSans";
  src: url("../fonts/DejaVu-Sans.ttf.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  background: none !important;
  font-family: "DejaVuSans";
  font-size: 14px;
  line-height: 1.2;
}

.toolbar-horizontal {
  padding: 0;
}

header,
.checkout-progress,
.breadcrumb-wrapper,
.toolbar {
  display: none !important;
}

p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}

/* Set up the page */
@page {
  height: 29.7cm;
  width: 21cm;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.ticket-letter {
  height: 29.7cm;
  width: 21cm;
  padding: 1cm 1.25cm;
  margin: 0;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  page-break-after: always;
  position: relative;
}

.preview .ticket-letter:after {
  content: "Preview";
  color: rgba(32, 41, 106, 0.3);
  font-size: 16em;

  position: absolute;
  left: 0;
  right: 0;

  text-align: center;
  overflow: hidden;
}

/* General layout */
.ticket-letter-header {
  border-bottom: solid black 2px;
  height: 4cm;
  margin-bottom: 10pt;
}

.ticket-letter-top {
  margin-bottom: 4pt;
}

.ticket-letter-top .name,
.ticket-letter-top .contacts-id,
.ticket-letter-top .booking-ref,
.ticket-letter-top .ticket-class,
.ticket-letter-top .ticket-team,
.ticket-letter-top .ticket-id {
}

.ticket-letter-ticket {
  background: #fff;

  height: 5.9cm;
  width: 9cm;
  padding: 0.5cm;
  position: absolute;
  bottom: 0;
  border: 1px dashed #000000;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Specific styling */
.ticket-letter-header .logo {
  position: absolute;
  top: 0.5cm;
  right: 1.25cm;
}
.ticket-letter-header .headline {
  position: absolute;
  top: 0.5cm;
  width: 90%;
  text-align: center;
}

.pane-ticket-badge > h2 {
  font-size: inherit;
  font-weight: normal;
  position: absolute;
  top: 9.5em;
  right: -22em;
  margin: 0;
  text-align: center;
}

/** Ticket Badge **/
.pane-ticket-badge .panel-col-top {
}

.pane-ticket-badge .panel-col-top {
  padding-left: 145px;
}

.pane-ticket-badge .panel-col-top:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pane-ticket-badge .panel-col-top .logo {
  float:left;
  margin-left: -145px;
  margin-top: -10px;
}

.pane-ticket-badge .panel-col-top .barcode {
  margin-top: -10px;
  float: left;
}

.pane-ticket-badge .panel-col-top p + p {
  margin: 0;
}

.pane-ticket-badge .panel-col-top .pane-commerce-booking-ticket-commerce-booking-ticket-class {
  font-weight: bold;
}

.pane-ticket-badge .panel-col-top .commerce-booking-ticket-reg-no {
  font-size: 1.3em;
}

.pane-ticket-badge .panel-col-top .commerce-booking-ticket-ticket-id {
  font-size: 0.75em;
}

.pane-ticket-badge .center-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pane-ticket-badge .center-wrapper .panel-col-first {
  width: 50%;
  text-align: center;
  float: left;
}
.pane-ticket-badge .center-wrapper .panel-col-first .commerce-booking-ticket-holder-name {
  font-size: 2em;
  max-height: 3em;
  overflow: hidden;
  word-wrap: normal;
}

.pane-ticket-badge .center-wrapper .panel-col-last {
  margin-top: -30px;
  width: auto;
  float: right;
}

.pane-ticket-badge .panel-col-bottom {
  text-align: center;
}

.pane-ticket-badge .commerce-booking-ticket-holder-name  p {
  margin: 0;
}

/** Tables in Ticket Letters **/
.ticket-letter table {
  border: none;
  border-bottom: solid #000000 2px;
  padding-bottom: 5px;
  width: 100%;
  border-collapse:collapse;
}

.ticket-letter thead th, div.ticket-letter th {
  background: none;
  color: #000000;
  text-align: left;
  border-bottom: none;
}
.ticket-letter thead th {
  border-bottom: solid #000000 2px;
}

.ticket-letter tr.even, div.ticket-letter tr.odd {
  background: none;
  border: none;
  color: #000000;
}

.ticket-letter tr.even td, div.ticket-letter tr.odd td {
  background: none;
}

/** Order Summary specific tweaks **/
.commerce-order-print .ticket-letter-top-left {
  padding: 0;
}

.ticket-letter .booking-summary-title h3 {
  font-size: 2em;
}

/* Summer ticket badge tweaks */
.pane-ticket-badge-summer .panel-col-top .commerce-booking-ticket-holder-name,
.pane-ticket-badge-summer .pane-ce-printing-ticket-badge-event .title {
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: "Playfair Display";
  overflow: hidden;
  height: 27.44px;
}

.pane-ticket-badge-summer .panel-col-top .commerce-booking-ticket-holder-name{
  font-size: 1.7em;
  margin-top: 0.2cm;
}

.pane-ticket-badge-summer .pane-ticket-class {
  border-bottom: 0.2cm solid #fff;
}

.ticket-badge-summer-under-18 .pane-ticket-class {
  border-bottom-color: black;
}

.pane-ticket-badge-summer .panel-col-top {
  padding-left: 5px;
}

.pane-ticket-badge.pane-ticket-badge-summer .field-name-contacts-indiv-photo {
  float: left;
}
.pane-ticket-badge.pane-ticket-badge-summer .logo {
  float: right;
  margin-left: 20px;
}

.pane-ticket-badge.pane-ticket-badge-summer .logo img {
  width: 70px !important;
}

.pane-ticket-badge-summer .panel-col-top .commerce-booking-ticket-reg-no {
  font-size: 1em;
  margin-bottom: 0.2cm;
  margin-top: 0.1cm;
}

.pane-ticket-badge-summer .panel-col-top .commerce-booking-ticket-holder-name,
.pane-ticket-badge-summer .pane-ce-printing-ticket-badge-event .title,
.pane-ticket-badge-summer .pane-ce-printing-ticket-badge-event .subtitle {
  font-weight: 900;
}

.pane-ticket-badge-summer .pane-ce-printing-ticket-badge-event .subtitle {
  text-transform: uppercase;
  font-size: 1em;
  padding: 2px 0px;
  margin-left: -2px;
}

.pane-ticket-badge-summer .pane-ce-printing-ticket-badge-event .subtitle-alt {
  background: black;
  padding: 2px 4px;
  color: white;
  margin-left: 0px;
}
