{#
/**
 * @file event.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event') }}>
  {% if content %}
    {{- content -}}
  {% endif %}

  {% for link in links|without('more_info') %}
    {{ link }}
  {% endfor %}
</div>
