{#
/**
 * @file event.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event event-item row pb-3 mb-4') }}>
    {% if content.listing_image %}
      <div class="col-md-5 col-lg-4 d-flex flex-sm-column justify-content-center"><a href="{{ link }}">
              {{ content.listing_image }}
        </a></div>
    {% endif %}
  <div class="col-md-7 col-lg-8 pl-xl-5 py-4 py-md-0 d-flex flex-column justify-content-center">
    {% if content.title %}
      <h3 class="my-2"><a class="text-color-reset" href="{{ link }}">{{ content.title }}</a></h3>
    {% endif %}

    {% if content.date %}
      <h5 class="mb-2">{{ content.date }}</h5>
    {% endif %}

    {% if content.price %}
      {{ content.price }}
    {% endif %}

    {% if content.venue %}
      <p class="mb-1 text-capitalize">{{ content.venue }}</p>
    {% endif %}

    <div class="mt-2">
      {% for link in links|without('listing') %}
        {{ link }}
      {% endfor %}
    </div>
  </div>
</div>
